@media (max-width: 1200px) {
	.footer {
		&__content {
			margin: 40px 0;
		}
    	&__height {
			padding: 40px 0 25px 0; 
		}
	}
}
@media (max-width: 768px) {
	.footer__height {
		padding: 15px 0; 
	}
	.copyright {
		&__left {
            text-align: center;
			margin-bottom: 15px;
        }  
        &__right {
            text-align: center;
        }
	}
}