@media (max-width: 1200px) {
    .idea__backgraund {
        min-height: 260px;
        background-size: 500px, 400px, 400px;
    }
}

@media (max-width: 768px) {
    .idea {
        &__backgraund {
            max-height: 200px;
            background-size: 350px, 300px, 300px;
        }     
        &__headline{
            margin-bottom: 0px;
        }
    } 
}