.read {    
      &__link {    
            font-size: 14px;
            line-height: 20px;
            color: #c7b299;
            font-weight: 300;
            font-family: "Montserrat";
            text-decoration: none;
      }

      &__arr {
            width: 1px;
            height: 1px;
            position: relative;
            top: -14px;
            left: 85px;
            border: 4px solid transparent; 
            border-left: 4px solid#c7b199; 
      }
}        